body{
	background-color: lightgrey;
}
.jumbotron{
	height:300px;
	width: 100%;
	margin-top: -180px;
	text-align: center;
	max-width: 100%;
	background-color: white;
	position: static;
	
}

.fa-location-arrow{
	color: lightgreen;
	height: 5%;
}


.mainLogo{
	margin-top: -5%;
	margin-left: 15%;
	position: static;
}

.container{
	text-align: center;
}
form{
	position: relative;
}

#mapApi{
	height: 400px;
	width: 400px;
	margin: 10%;
	align-content: center;
 	text-align: center;
}

#map {
 	width: 80%;
 	height: 60%;
 	margin: 10%;
 	background-color: white;
 	align-content: center;
 	text-align: center;
    border-radius: 10px;
  }

 #pac-input{
 	height: 10%;
 	width: 50%;
 	font-size: 20px;
 }
 .input-group {
 	margin-left: 25%;
 	width: 50%;
 	align-content: center;
 	text-align: center;
 }

 .col-lg-6 {
 	align-content: center;
 }
 .newsDisplay {
 	width: 80%;
 	height: 60%;
 	margin: 10%;
 	background-color: white;
 	align-content: center;
 	text-align: center;
 	overflow: auto;
 	word-break: break-all;
 }
