body{
  background-color: lightgrey;
}


.fa-location-arrow{
  color: lightgreen;
  height: 5%;
}

#rssincl-box-1175410 {
  height: 60%;
  margin: 0px;
}



.mainLogo{
  margin-top: -5%;
  margin-left: 15%;
  position: static;
}

.container{
  text-align: center;
}
form{
  position: relative;
}

#flex-container {
display: flex;
}

#mapApi{
  height: 400px;
  width: 400px;
}

#map {
    height: 60%;
    width: 100%;
    margin: 0px;
  }

form {
  margin: 0px;
}

 #pac-input{
  height: 10%;
  width: 50%;
  font-size: 20px;
 }



#newsDiv{
  height: 30px;
  width: 50px;
  border-radius: 10px !important;

}

html{
  font-size:15px;
}
body{
 font-family: "Helvetica", sans-serif;
 width:94%;
 margin: 0 auto;
}
*, *::after, *::before{
 box-sizing: border-box;
}
.modal-trigger{
 text-decoration: none;
 padding:1rem;
 background:#28a745;
 display:inline-block;
 border-radius:3px;
 margin-top:50px;
 color:#fff;
}
.modal{
 display:none;
 background:rgba(0, 0, 0, .8);
 position:fixed;
 left:0;
 top:0;
 height:100%;
 width:100%;
}
.modal:target{
 display:table;
}
.modal__dialog{
 display:table-cell;
 vertical-align:middle;
}

.modal__content{
 background:rgb(255, 255, 255);
 width:60%;
 min-width:300px;
 margin:auto;
 position:relative;
 
 animation: slideUp 0.3s ease-in-out;
}

.modal__header{
 background:#2980b9;
 color:rgba(255, 255, 255, 0.8);
 padding:1rem;
 position:relative;
}
.modal__title{
 margin:0;
}
.modal__close{
 color:#fff;
 text-decoration: none;
 position:absolute;
 top:1rem;
 right:1rem;
}
.modal__image{
 display:block;
 margin:1rem auto;
}
.modal__text{
 padding:0 1rem;
 line-height:1.5;
}
.modal__footer{
 padding:1rem;
 border-top:1px solid #ccc;
}

@keyframes slideUp{
 from{
   opacity:0;
   bottom: -200px;
 }
 to{
   opacity:1;
   bottom:0;
 }
}